@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
}

.first-section {
    background-color: #1F2937;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}


.signup-button-1 {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px #3882F6;
}

.content{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    margin-left: 100px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 150px;
    justify-content: center;
}

img {
    margin: 50px;
}

.p-first {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 20px;
}

.row-of-blue-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    color: gray;
    font-size: 18px;
}

.box-blue {
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.p-second {
    display: flex;
    text-align: center;
    justify-content: center;
}

.second-section {
    margin-bottom: 100px;
    align-items: center;
}

.third-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.p-third {
    display: flex;
    font-size: 36px;
    color: #1F2937
}

.thor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.call-to-action-box {
    background-color: #3882F6;
    border-radius: 10px;
    margin: 50px 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-button-2 {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid white;
}

.p-fourth {
    color: white;
}

.call-to-action-text {
    color: white;
    margin-bottom: auto;
}

.box-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 20px;
    margin-right: 30px;
}

.box-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}